# Global exludes
# Copy to home and add with: 
# git config --global core.excludesfile ~/.gitignore

# macOS file system
.DS_Store

# IntelliJ projects
.idea

# CLion CMake project builds
cmake-build-*

# direnv
.envrc

# Local GOPATHs
.go
